/*THINGS TO INCORPORATE:
- GRID-CONTAINER - BACKGROUND BLACK, TEXT WHITE, LINKS WHITE WITH NO LINES, HOVER COLOR FOR LINKS*/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color:snow;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
}

.logo{
    color:aliceblue;
    align-content: flex-start;
    font-size: 100%;
    width: 60%;
    height: 80%;
    background-color: none;
}

.nav-links {
    display: flex;
    background-color: black;
    justify-content: flex-end;
    width:25%;
    text-transform: uppercase;
    list-style: none;
    margin: 35px;
}

.nav-link{
    color:aliceblue;
    font-size: x-large;
}

.hero-header{
    background-image: url(theater-image-background.png);
    height:400px;
    width:auto;
    text-align:center;
    padding-top:100px;
    overflow: hidden;
    background-color: transparent;
    background-size:cover;
    background-position: center;
}

.hero-title{
    color:rgb(226, 236, 245, 0.8);
    background: transparent;
    position: relative;
    justify-content: center;
    align-content:center;
    font-size: 80px;
}

.shows{
    background-color: snow;
    margin: 50px;
}
/*start of section 3 - plays info*/
#April2020{
    font-size: xx-large;
    text-align: center;
    background-color: transparent;
    padding: 5px;
    margin-top: 150px;
    color:slategrey
}

.container-fluid{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    background-color: snow;
    padding:10px;
    row-gap: 15px;
    border: 15px black;
    place-items: center;
    border-style: double
    ;
}
.grid-item{
    padding: 25px;
    font-size: 30px;
    text-align: center;
    background-color:snow;
}

#play-pic{
    object-fit: cover;
    width: 100%;
    max-height:100%;
}
.play-info{
    display: inline;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
}

.play-text{
    background-color: transparent;
    color:navy;
    font-size:108%
}
.btn{
    display: inline;
    justify-content: center;
    align-self: center;
}

/*start of SECTION 4 - footer nav*/
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

}

a:hover {
    text-decoration: underline ;
}

.map{
    padding: 30px;
    justify-content: right;
    align-content: center;
    margin:10px;  
}
.Info, .Shows, .Socials a{
    list-style-type: none;
    color:aliceblue;
    background:transparent;
}